<!DOCTYPE html>
<html lang="en">
<head>
	<title> Login </title>
    <link rel="stylesheet" href="/static/style.css"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title" style="font-size:28px">Login</span>
            
            <div class="wrap-input100 " >
                <span class="label-input100">Username:</span>
                <input class="input100" type="text" id="username" name="username" placeholder="Username">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 " >
                <span class="label-input100">Password</span>
                <input class="input100" type="password" id="Password" name="Password" placeholder="Password">
                <span class="focus-input100"></span>
            </div>
            
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" id='submit' type="submit">Log In</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
</body>

</html>